# OCI Provider Configuration
# Copy this file to terraform.tfvars and fill in your actual values

# OCI Authentication
tenancy_ocid     = "ocid1.tenancy.oc1..aaaaaaaascaaa....q"
user_ocid        = "ocid1.user.oc1..aaaaaaaam3sa...oq"
fingerprint      = "07:32:eb:4f:5d:22:b0:3f:d7:73:c1:77:f9:1a:8c:22"
private_key_path = "<oci_api_key.pem>"
region           = "ap-sydney-1"

# Compartment and Network
compartment_id = "ocid1.tenancy.oc1..aaaaaaaascgq......"
vcn_id         = "ocid1.vcn.oc1.ap-sydney-1.amaaaaaacvrx...."
subnet_id      = "ocid1.subnet.oc1.ap-sydney-1.aaaaaaaayn.....a"

# Existing Bucket Names
source_bucket_name      = "customer-scan-bucket"
#production_bucket_name  = "customer-p-bucket"
quarantine_bucket_name  = "customer-q-bucket"

# Vision One Configuration
#vision_one_api_key_secret_ocid = "ocid1.vaultsecret.oc1.ap-sydney-1.amaaaaaacvrxdpqaec....."
vision_one_api_key_secret_ocid = "ocid1.vaultsecret.oc1.ap-sydney-1.amaaaaaacvrxdpqawg6jzfkrxzkx......"
vision_one_region = "ap-southeast-2"
v1_scanner_endpoint = "<IP>:50051"

# File Scanner Mode Configuration
# Valid values: MOVE_ALL, MOVE_MALWARE_ONLY, TAG_ONLY
v1_file_scanner_mode = "MOVE_MALWARE_ONLY"

# Docker/OCIR Configuration sd7x6bmp43j1
docker_username = "docker_username"
docker_auth_token = "docker_auth_token"
tenancy_namespace = "tenancy_namespace"
ocir_region = "syd.ocir.io"
image_tag = "latest"

# Environment Configuration
environment = "dev"

# Optional: Function Resource Configuration
function_memory_mb       = 512
function_timeout_seconds = 300

# Logging Configuration (set to false if you don't have logging permissions)
enable_logging = true
